@using interview.web.Models.Response;
@model IEnumerable<GetQuestionarioResponse>

@{
    string styles = " .btn-grid { margin: 0 10px;}";
}

<style>
    @Html.Raw(styles)
</style>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                Questionários Cadastrados
            </h2>
        </div>
        <div class="body table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="text-align:center">Nome</th>
                        <th style="text-align:center">Avaliações Enviadas</th>
                        <th style="text-align:center"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(modelItem => item.Id)
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AvaliacoesEnviadas)
                            </td>
                            <td style="text-align: end;">
                                @if (item.AvaliacoesEnviadas > 0)
                                {
                                    @Html.ActionLink("Visualizar avaliações enviadas", "ExibirTelaAvaliacoesEnviadas", "Avaliacao", new { item.Id, item.Nome }, new { @class = "btn btn-grid bg-teal waves-effect text-white" })
                                }

                                @Html.ActionLink("Enviar para Candidato", "ExibirTelaEnviarParaCandidato", new { item.Id }, new { @class = "btn btn-grid bg-primary waves-effect text-white" })

                                @Html.ActionLink("Alterar", "ExibirTelaCriarAlterar", new { item.Id }, new { @class = "btn btn-grid bg-warning waves-effect text-white" })

                                @Html.ActionLink("Excluir", "Delete", new { item.Id }, new { @class = "btn btn-grid bg-danger text-white waves-effect text-white " })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
