@model interview.web.Models.UsuarioViewResponseModel

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card" style="margin-top: 100px;">
        <div class="header">
            <h2>Meus dados</h2>
        </div>
        <form class="body">
            <div class="body table-responsive">
                @Html.HiddenFor(model => model.id)
                <div class="row">
                    <label class="col-sm-2">Documento</label>
                    <div class="col-sm-10">
                        @Html.DisplayFor(modelItem => Model.cpf, new { @class = "form-control-plaintext" })
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2">Nome completo</label>
                    <div class="col-sm-10">
                        @Html.DisplayFor(modelItem => Model.nome, new { @class = "form-control-plaintext" })
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2">Login</label>
                    <div class="col-sm-10">
                        @Html.DisplayFor(modelItem => Model.login, new { @class = "form-control-plaintext" })
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2">Perfil</label>
                    <div class="col-sm-10">
                        @Html.DisplayFor(modelItem => Model.perfil, new { @class = "form-control-plaintext" })

                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="form-line col-2" style='text-align: right;'>
                    @Html.ActionLink("Alterar", "Details", null, null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </form>
    </div>
</div>

