@model IEnumerable<interview.web.Models.PerguntaViewResponseModel>

@{
    string styles = " .btn-grid { margin: 0 10px;}";
}

<style>
    @Html.Raw(styles)
</style>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                Perguntas cadastradas
            </h2>
        </div>
        <div class="body table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="text-align:center">Pergunta</th>
                        <th style="text-align:center">Area de Conhecimento</th>
                        <th style="text-align:center"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr style="text-align:center">
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.descricao)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.areaConhecimento)
                            </td>
                            <td style="text-align: end;">
                                @Html.ActionLink("Alterar", "Edit", new { id = item.id }, new { @class = "btn btn-grid bg-teal waves-effect" })
                                @Html.ActionLink("Excluir", "Delete", new { id = item.id }, new { @class = "btn btn-grid bg-danger waves-effect text-white" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="alert">
            @Html.Raw(ViewBag.Alert);
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".alert").fadeTo(4000, 300).slideDown(300, function () {
            $(".alert").slideDown(300);;
        })
    });
</script>
