@model IEnumerable<interview.web.Models.AreaConhecimentoViewModel>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                Areas de conhecimento cadastradas
            </h2>
        </div>
        <div class="body table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="text-align:center">Id</th>
                        <th style="text-align:center">Descrição</th>
                        <th style="text-align:center">Perguntas Cadastradas</th>
                        <th style="text-align:center">Alterar</th>
                        <th style="text-align:center">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.descricao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.perguntasCadastradas)
                            </td>
                            <td>
                                @Html.ActionLink("Alterar", "Details", new { id = item.id }, new { @class = "btn bg-teal waves-effect col-sm-2 col-lg-10" })
                            </td>
                            <td>
                                @Html.ActionLink("Excluir", "Delete", new { id = item.id.ToString() }, new { @class = "btn bg-warning waves-effect col-sm-2 col-lg-10" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>